#wtop .mtool{
    height: 30px;
    width: 30px;
    float: right;
}
#wtop .mtool img{
    height: 25px;
    width: 25px;
}
ul a{
    color: black;
}
ul .mmess{
    height: 400px;
}
ul .mmess .mmess2{
    height: 350px;
    margin-top: 25px;

}
ul .mmess .mmess2 .mtop{
    height: 210px;width: 210px;
    margin-top: 60px;
    margin-left: 20px;
    float: left;
}
ul .mmess .mmess2 .mtop img{
    height: 200px;width: 200px;
    border-radius: 15px;
}
ul .mmess .mmess2 .mmess3{
    height: 70px;width: 60%;
    margin-top: 10px;
    float: left;
}
ul .mmess .mmess3 .mfile span{
    font-size: 70px;
    font-family: 华文楷体;
    margin-left: 20px;
    line-height: 200px;
}
ul .mmess .mmess3 .mfile2 span{
    font-size: 50px;
    font-family: 华文楷体;
    margin-left: 15px;
    line-height: 20px;
}
ul .mmess .mmess2 .mtop .mtwo{
    width: 80px;height: 80px;
    position: relative;
    float: right;left: 480px;
    margin-top: 50px;
    flex-direction: row-reverse;
}
ul .mmess .mmess2 .mtop .mtwo img{
    width: 80px;height: 80px;
}
ul .gap{
    width: 100%;height: 15px;
    background-color: #dcdcdc;
    opacity: 0.5;
}
ul .mnews{
    width: 100%;height: 140px;
    display: flex;
    justify-content: space-around;
}
ul .mnews .mpho{
    width: 190px;height: 140px;
    float: left;
}
ul .mnews .mpho .imgs{
    width: 100px;height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
ul .mnews .mpho .imgs2{
    width: 80px;height: 80px;
    margin-top: 15px;
    margin-left: 10px;
}
ul .mnews .syn{
    width: 75%;height: 140px;
    float: left;
    border-bottom: gainsboro 1px solid;
}
ul .mnews .syn span{
    font-size: 60px;
    font-family: 华文楷体 ;
    line-height: 130px;
    margin-left: 5px;
}
