#wtop a img{
    width: 50px;height: 50px;
    margin-top: 20px;
}
.fpho{
    width:100%;height:500px;
}
.fpho img{
    width:100%;height:500px;
    position: absolute;
    top: 177px;
}
.fpho .jian{
    /*border: red 1px solid;*/
    width: 20px;height: 20px;
    position: relative;
    top: 5px;
}
.fpho .jian img{
    width: 25px;height: 25px;
    background-size: cover;
    position: fixed;
    z-index: 2;
    left: 0;
    float: left;
}
.fpho .jian2 img{
    width: 25px;height: 25px;
    background-size: cover;
    position: fixed;
    z-index: 2;
    top: -5px;left: 340px;
    /*float: left;*/
}
.fpho .span{
    width: 100px;height: 50px;
    font-family: 华文楷体;
    font-size: 20px;
    position: relative;
    top: 25px;left: 35px;
}
.fpho .span2{
    width: 100px;height: 50px;
    font-family: 华文楷体;
    font-size: 50px;
    position: relative;
    top: 255px;left: 560px;
}
.fpho .ftop{
    width: 170px;height: 170px;
    position: relative;
    top: 360px;left: 580px;
    border-radius: 25px;
}
.fxpho{
    width:150px;height:150px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.fxpho img{
    width:150px;height:150px;
     border-radius: 25px;
}
.fname{
     height: 55px;
     margin-top: 50px;
     margin-left: 70px;
}
.fname span{
     font-family: 华文楷体;
     font-size: 70px;
     margin-left: 20px;
     line-height: 40px;
     color: cornflowerblue;
 }
.fword{
    margin-left: 180px;
    font-size: 65px;
    font-family: 华文楷体;
}
.fword p{
    width: 90%;
    font-family: 华文楷体;
    font-size: 20px;
    margin-left: 5px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fpic{
    margin-left: 180px;
}
.fpic img{
    width:255px;height:255px;
}
.ffunction{
    height: 90px;
    position: relative;
}
.ffunction .fxtime{
    width: 220px;height: 60px;
    margin-left: 175px;
}
.ffunction .fxtime span{
    margin-top: 5px;
    font-size: 45px;
    font-family: 华文楷体;
    color: gray;
}
.ffunction .fheart{
    width: 160px;height: 50px;
    float: right;
    margin-top: -55px;
}
.ffunction .fheart input{
    width: 100px;height: 50px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 25px;
    border: none;/*按键无边框*/
    background-color: darkgrey;/*按键的背景颜色*/
}
.ffunction .fheart .ftri-fun{
     display: none;
 }
.ffunction .fheart .ftri-fun .triangle-up {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid black;
      border-bottom: 10px solid transparent;
      position: absolute;
      right: 140px ;
      top: 30px;
  }
.ffunction .fheart .ftri-fun .triangle-up2{
    width: 32%;height: 70px;
    background-color: black;
    position: absolute;
    right: 160px ;
    top: 10px;
    border-radius: 5px;
}
.ffunction .fheart .ftri-fun .triangle-up2 ul li{
    float: left;
}
.ffunction .fheart .ftri-fun .triangle-up2 ul li img{
    width: 60px;height: 60px;
    position: relative;
    top: 10px;
    float: left;

}
.ffunction .fheart .ftri-fun .triangle-up2 ul li p{
    font-size: 55px;
    font-family: 华文楷体;
    color: white;
    position: relative;
}
.ffunction .fheart input:hover+.ftri-fun{
    display: block;
}
.kong{
    width: 95%;
    border-bottom: gainsboro 1px solid;
    margin-top: 5px;
    margin-left: 10px;
}
