ul a{
     color: black;
 }
ul a li{
    height: 200px;
    width: 90%;
    margin: auto ;
    position: relative;
}
ul a li .bphotim{
     height: 150px;
     width: 150px;
    position: relative;
     float: left;

 }
ul a li  .bphotim img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
ul a li .name{
    border-bottom: gainsboro 1px solid;
    height: 150px;width: 60%;
    float: left;
    position: relative;
}
ul a li .name .nmess{
    position: relative;
    top: 15px;
    height: 75px ;
    display: flex;
    align-content: space-around;
}
ul a li .name .nmess span{
    font-family: 华文楷体;
    font-size: 50px;
    margin-left: 10px;
    margin-top: -10px;
    /*vertical-align: top;*/
}

ul a li .name .nmess .nmess2{

    font-family: 华文楷体; font-size: 50px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
ul a li .time .time2{
    font-size: 30px;
    opacity: 0.5;
    margin-left: 9px;
    position: relative;
    left: 60px;
}


